<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        
        
      </li>
      <li class="list-inline-item">
        
      </li>
      <li class="list-inline-item">
        
      </li>
      <li class="list-inline-item">
        
        
      </li>
      <li class="list-inline-item">
        
      </li>
    </ul>
    <!-- Social buttons -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="#"> My Build Maker</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->