<div class="container-fluid">
  <h1 class="white-text text-center">How it works</h1>

  <div class="row">
    <div class="col-sm">
      <div class="card">
        <!-- Card content -->
        <div class="card-body">
          <!-- Title -->
          <h5 class="card-title"><a>Step one</a></h5>
          <!-- Text -->
          <p class="card-text">
            Fill in your character's informations such as it's name, health
            points, mana points ..
          </p>
        </div>
      </div>
    </div>
    <!--First col ends-->

    <div class="col-sm">
      <div class="card">
        <!-- Card content -->
        <div class="card-body">
          <!-- Title -->
          <h5 class="card-title"><a>Step two</a></h5>
          <!-- Text -->
          <p class="card-text">
            Select the items you wanna try from the list and see how much
            statistics points you get from them.
          </p>
        </div>
      </div>
    </div>
    <!--Second col ends-->

    <div class="col-sm">
      <div class="card">
        <!-- Card content -->
        <div class="card-body">
          <!-- Title -->
          <h5 class="card-title"><a>Step three</a></h5>
          <!-- Text -->
          <p class="card-text">
            If the items you selected suits your needs then you can validate and
            submit your build to share it with other players !
          </p>
        </div>
      </div>
    </div>
    <!--Third col ends-->
  </div>
</div>
