<!--
  <div class="row">
  <div class="col-xs-12">
    <h2>Les objets</h2>
    <ul class="list-group">
<div *ngFor = "let item of itemService">
              <div class="card">
              <p>Nom de l'objet : {{ item.itemName }}</p>
              <p>Apport en point de vie  : {{ item.bonusHealth }}</p>
              <p>Apport en point de mana : {{ item.bonusMana }}</p>
              <p>Apport en point d'armure : {{ item.bonusArmor }}</p>
              <p>Points d'attaque {{ item.bonusDamage }}</p>
          </div>
          <br>
          </div>
    </ul>
  </div>
</div>

-->