<div class="container">
  <h1>Create my build</h1>
  <form #f="ngForm">
    <div class="form-group">
      <label for="">My Character's name</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="character.characterName"
        name="cName"
        ngModel required
      />
    </div>
    <div class="form-group">
      <label for="">Health points</label>
      <input
        type="number"
        class="form-control"
        [(ngModel)]="character.healthPoints"
        name="hp"
        ngModel required
      />
    </div>
    <div class="form-group">
      <label for="">Mana points</label>
      <input
        type="number"
        class="form-control"
        [(ngModel)]="character.manaPoints"
        name="mana"
        ngModel required
      />
    </div>
    <div class="form-group">
      <label for="">Armor points</label>
      <input
        type="number"
        class="form-control"
        [(ngModel)]="character.armorPoints"
        name="armor"
        ngModel required
      />
    </div>
    <div class="form-group">
      <label for="">Damage points</label>
      <input
        type="number"
        class="form-control"
        [(ngModel)]="character.damagePoints"
        name="cDamage"
        ngModel required
      />
    </div>
    <select
      class="form-group"
      name="selectedItem"
      [(ngModel)]="character.items"
      (ngModelChange)="logCharacter($event)"
      ngModel required
    >
      <option *ngFor="let item of itemService" [ngValue]="item">
        {{ item.itemName }}
      </option>
    </select>

    <div *ngFor="let item of character.items">
      <p>You selected: {{ item.itemName }}</p>
      <p>With this item your character will have {{ character.healthPoints + item.bonusHealth }} health points.<br>
      {{ character.healthPoints }} + {{ item.bonusHealth }}</p>
    </div>
    <button type="submit" class="btn btn-success" (click)="newCharacter()" [disabled]="f.invalid">
     Send my build !
    </button>
  </form>
</div>
